extends ../layout

block head
  link(rel="stylesheet" href="/stylesheets/chat/chat.css")

block content
  include ../includes/header.jade
  div#chat
    div.chat-top
      span#roomTitle
      br
      span#owner
      div.users
        span.job
        ul#userList
    div#message
    div.chat-bottom
      span#name
      span.button
      input(id = "send-message" class = "form-control") 
    
  script(src = "/socket.io/socket.io.js")
  script(src = "/javascripts/chat/chat.js" type = "text/javascript")
  script(src = "/javascripts/chat/room.js" type  = "text/javascript")
