extends ../layout

block head
  link(rel="stylesheet" href="/stylesheets/chat/chat.css")
  
block content
  div#chat
    div.top
      strong#roomTitle
    div.content 
      div.p-users
        div.omok-info
          span.color
          div
            span 차례
            div.turn
            div.time
        ul(class = "user-list omok-user-list")
      div.m-users
        div(class = "box box-one")
          ul(class = "user-list omok-user-list")
          div.omok-info
            div
              div.m-color
            div
              div.m-color
        div(class = "box box-two")
          div.time
      div#pane
        div.winner
      div(id = "message" class = "o-message")
    div.bottom
      span#name
      input(id = "send-message" class = "form-control") 
      span.button

  
  script(src = "/socket.io/socket.io.js")
  script(type = "text/javascript" src = "/javascripts/chat/omok.js")
  script(type = "text/javascript" src = "/javascripts/chat/chat.js")
  script(type = "text/javascript" src = "/javascripts/chat/room.js")
