extends ../layout

block head
  link(rel="stylesheet" href = "/stylesheets/chat/lobby.css")

block content
  div#rule
    div.rule-box
    div.rule-box
      h3 오목
        p 렌주룰 까지는 구현 못했고 3x3 규칙이 적용되어 있습니다 
    div.rule-box
      h3 원나잇 얼티메이트 웨어울프
        p 일단 내일 마저 적자...
