extends ../layout

block head
  link(rel="stylesheet" href="/stylesheets/chat/chat.css")
  
block content
  div#chat
    div.top
      strong#roomTitle
    div.content 
      div.p-users
        div
          span.job
        ul.user-list
      div.m-users
        ul.user-list
        div
          span.job
      div(id = "message" class = "message")
      div(id = "popup" class = "popup-wrapper phide")
        div.popup-content
          div.popup-title
            button(type = "button" class = "popup-close")
            h3
          div(id = "jobActive" class = "popup-body")
    div.bottom
      span#name
      input(id = "send-message" class = "form-control") 
      div.button
        button(id = "skip" class = "btn btn-default") 스킵
        span.owner
  
  script(src = "/socket.io/socket.io.js")
  script(src = "/javascripts/plugin/simple-popup.js")
  script(type = "text/javascript" src = "/javascripts/chat/warewolf.js")
  script(type = "text/javascript" src = "/javascripts/chat/chat.js")
  script(type = "text/javascript" src = "/javascripts/chat/room.js")

