footer
  p  
    a(href = 'http://devnote.sigyeiswatch.com/') 개발자 블로그 
    | | 
    a(href = 'http://devnote.sigyeiswatch.com/ask') 건의함  
    | | 
    a(href = '/admin') 운영 게시판
  p help@sigyeiswatch.com
