extends layout

block head
  link(rel="stylesheet" href="/stylesheets/sigyeiswatch.css")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.2/react.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.2/react-dom.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js")

block content
  div.center
    div(class = "random" style="background:url('/images/watch/#{watch.path}') no-repeat center center;")
      div.text
        span.today 오늘의 시계는?
        br
        span.watch= watch.name

  div.adsense
    script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
    ins(class="adsbygoogle" style="display:block" data-ad-client="ca-pub-7146743477788511" data-ad-slot="6599571183" data-ad-format="auto")
    script.
      (adsbygoogle = window.adsbygoogle || []).push({});


  div(id = "mainBoard" class = "main-board")
  script(type = "text/babel" src = "/javascripts/index.js")
