extends ../layout

block head
  link(rel="stylesheet" href="/stylesheets/photos.css")

block content
  h2 게임
  div#gameBox
    ul(id = "game" class = "row")
        li(class = "col-xs-6 col-md-3")
          a(href = "/game/juhoMaker" class = "thumbnail")
        li(class = "col-xs-6 col-md-3")
          a(href = "/game/girlfriend" class = "thumbnail")
            img(src = "/images/tGirl.png")
        li(class = "col-xs-6 col-md-3")
          a(href = "/game/knight" class = "thumbnail")
            img(src = "/images/tKnight.png") 
        li(class = "col-xs-6 col-md-3")
          a(href = "/game/peg_solitare" class = "thumbnail")
            img(src = "/images/tPeg.png")
