extends ../layout

block head
  link(rel="stylesheet" href="/stylesheets/game/knight.css")

block content
  div#level
    ul
      li.selected: button.map 레벨 1
      li: button.mapTwo 레벨 2
      li: button.mapThree 레벨 3
      li: button.mapFour 레벨 4

  div#mobileLevel
    ul
      li.selected: button.map 레벨 1
      li: button.mapTwo 레벨 2
      li: button.mapThree 레벨 3
      li: button.mapFour 레벨 4

  div#knight
    div#map

  div#way
    script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
    ins(class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4634617406465785"
     data-ad-slot="6151936559"
     data-ad-format="auto")
    script.
      (adsbygoogle = window.adsbygoogle || []).push({})

    div.way_box
      span · 체스의 나이트로 여행을 떠나 보자.
      span · 나이트는 장기에 등장하는 마처럼 2칸 앞으로 이동한 다음, 왼쪽 또는 오른쪽으로 1칸 이동한다. 상하좌우 어느 방향으로도 갈 수 있다.

      span · 자, 모튼 칸을 1번씩만 여행해 보자.
      span 출처 : 레이튼교수와 악마의상자
  script(src = "/javascripts/game/knight.js")
  script.
    function goEvent(){
      var pane = document.getElementsByTagName('td');
 
      for(var i = 0; i < pane.length; i++){
        pane[i].addEventListener("click", function(){game.clickEvent(this)});	
      }
    };
 	
    var div = document.getElementById("map");
    var game = new Knight();	
    game.mapSet(map, div);  
    goEvent();

  script.
    $("button").click(function(){
   
      $("button").parent().removeClass("selected");
      $(this).parent().addClass("selected");
 
      game.mapInit();
      level = $(this).attr("class");
 		
      switch(level){
        case "map":	
          $("#map").css("width", "120px");
          $("#map").css("height", "160px");
          game.mapSet(map, div);
          break;
        case "mapTwo":
          $("#map").css("width", "200px");
          $("#map").css("height", "240px");
          game.mapSet(mapTwo, div);
          break;
        case "mapThree":
          $("#map").css("width", "280px");
          $("#map").css("height", "240px");
          game.mapSet(mapThree, div);
          break;
        case "mapFour":
          $("#map").css("width", "320px");
          $("#map").css("height", "280px");
          game.mapSet(mapFour, div);
          break;
        default:
          break;
      } 

      goEvent();
    });
