extends ../layout

block head
  link(rel="stylesheet" href = "/stylesheets/users.css")

block content
  div#join
    h2 회원가입
    ul.join-menu
      li
        button(type="button" class = "btn btn-default" onclick = "location.href='/users/join?type=local'") 이메일계정 만들기
      li
        button(type="button" class = "btn btn-default facebook" onclick = "location.href='/users/auth/facebook'") 페이스북계정 만들기
